# =========================
# Unity
# =========================
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Unity generated
*.csproj
*.sln
*.user
*.pidb
*.booproj

# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
